body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    /* viewport height */
}

#map {
    /* position: absolute; */
    width: 75%;
    height: 100%;
    display: flex;
    flex: 75;
    border-right: 2px solid #ccc;
}

#infoContainer {
    /* width: 20%;
    height: 100%; */
    flex: 24;
    margin-left: 1%;
    margin-right: 1%;
    text-align: justify;
    /* text-justify:inter-ideograph */
}

#container .yearHeader {
    font-size: 20px;
}

#container .lineHeader {
    font-size: 22px;
    margin: 10px 0 10px 0;
}

#container h4 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0 10px 0;
}

#container p {
    text-align: justify;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif
}


h3 {
    font-size: 20px;
    margin: 20px 0 10px 0;
}

.leaflet-legend-title {
    text-align: center;
}

.leaflet-legend-item {
    /* height: 20px; */
    font-size: 12px;
}

.leaflet-legend-item i {
    display: inline-block;
    width: 30px;
    height: 22px;
}

.leaflet-legend-contents {
    border: 2px solid #ccc;
    border-radius: 3%;
}

.iconTitle {

    font-size: 16px;
}

.leaflet-container .leaflet-marker-pane img {
    border: 1px solid #ccc;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 1px 5px;
}

#infoContainer img {
    display: flex;
    width: 100%;
    /* border: 2px solid #fff; */
    border-radius: 10px;
    margin: 5px 0 5px 0;

}

.header {
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid #7d7d7d;
}

.defaultInfo {
    font-size: 16px;
    text-indent: 2em;
}